<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insights</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Inter:wght@400;500;600&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

    <header class="app-header">
        <a href="/" class="logo">Insights <span>.</span></a>

        <nav class="nav-menu">
	    <a href="/products/all" class="nav-item" style="text-decoration:none;">Products</a>
            <div class="nav-item">
                Categories
                <div class="dropdown-content">
                    {% for cat in navbar_categories %}
                        {% if cat == "Howto & Style" %}
                            <div class="dropdown-item has-submenu">
                                {{ cat }}
                                <div class="submenu">
                                    <a href="{{ url_for('brands_hub') }}" class="dropdown-item">Brands</a>
                                </div>
                            </div>
                        {% else %}
                            <a href="#" class="dropdown-item">{{ cat }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if "Howto & Style" not in navbar_categories %}
                         <div class="dropdown-item has-submenu">
                                Howto & Style
                                <div class="submenu">
                                    <a href="{{ url_for('brands_hub') }}" class="dropdown-item">Brands</a>
                                </div>
                         </div>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>

    {% block content %}{% endblock %}

</body>
</html>
